.album {
	animation: rotate 4s infinite linear paused;
	background: url('assets/album.svg');
	border-radius: 100%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.albumRunning {
	animation: rotate 4s infinite linear running;
}

.albumImage {
	width: 32px;
	height: 32px;
	border-radius: 100%;
	overflow: hidden;
	object-fit: cover;
}

.description {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
	color: #fff;
	position: absolute;
	bottom: 50px;
	z-index: 1;
	padding: 0 10px 15px;
	font-size: 13px;
	background: linear-gradient(
		0deg, rgba(0,0,0,0.30) 0%, 
		rgba(255, 255, 255, 0) 60%
	);
}

.author {
	color: #fff;
	font-weight: 600;
	font-size: 17px;
}

.text {
	margin-bottom: 8px;
	margin-top: 8px;
	font-size: 15px;
	line-height: 1.2;
}

.textWrapper {
	max-width: 275px;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	} 
	to {
		transform: rotate(360deg);
	}
}