.song {
	display: flex;
	justify-content: center;
	align-items: center;
}

.songName {
	padding-right: 20px;
	white-space: nowrap;
}

.ticker {
	flex: 1;
	overflow: hidden;
	margin-left: 15px;
	width: max-content;
	font-size: 15px;
}

.tickerWrapper {
	display: flex;
	transform: translateX(0%);
  animation: ticker 6s linear 0s infinite normal none paused;
}

.tickerRunning {
  animation: ticker 6s linear 0s infinite normal none running;
}

@keyframes ticker {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}