.video {
	height: 100%;
	width: 100%;
}

.wrapper {
	position: relative;
}

.player {
	width: 62px;
	height: 62px;
	background-color: transparent;
	background-image: url('assets/player.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	border: 0;
	top: 0;
	inset: 0;
	margin: auto;
}

.hidden {
	opacity: 0;
}

.actions {
	position: absolute;
	bottom: 120px;
	right: 13px;
}

.action {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
	background-color: transparent;
	border: none;
}

