.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	place-content: center;
	overflow: hidden;
}

main {
	height: 100%;
	width: 100%;
	aspect-ratio: 9/16;
	border-radius: 5px 5px 0 0;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	display: block;
	position: relative;
}
