@font-face {
	font-family: 'Proxima Nova';
	font-weight: 400;
	src: url('assets/Proxima-Nova-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: 600;
	src: url('assets/Proxima-Nova-Semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: 700;
	src: url('assets/Proxima-Nova-Bold.woff') format('woff');
}

body {
	margin: 0;
	font-family: 'Proxima Nova', Arial, Tahoma, PingFangSC, sans-serif,
		'Segoe UI Emoji', 'Noto Emoji';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
